/* @font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.ttf');
} */


html,body{
    background-color: #060719;
}
body,
ul,
ol
{ 
  margin: 0px;
  padding: 0px;
  list-style: none;
  outline: none;
}
*:focus{
    outline: none !important;
}
a{
    text-decoration: none;
    transition: 0.5s all;
}
a:hover{
    text-decoration: none;
    color: #fff;
}

h1{
    font-size: 55px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,h6{
    margin: 0px;
    color: #fff;
}
p{
    font-size: 18px; 
    margin: 0px;   
}
.container-fluid{
    max-width: 90%;
    margin: auto;
}



/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul#menu-header {
    display: flex;
}
ul#menu-header li {
    padding: 0px 40px;
}
header.site-header {
    padding: 20px 0px;
    position: absolute;
    padding: 20px 0px;
    width: 100%;
}
ul#menu-header li a {
    color: #fff;
}
.header-download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(145,32,221,1) 0%, rgba(56,49,226,1) 100%);
    border: 1px solid rgb(145,32,221);
    color: #fff;
    border-radius: 5px;
    min-width: 165px;
    height: 45px;
}
.nav-toggler{
    display: none;
}



/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Homa Main Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.hmb-section {
    height: 850px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}
.hmb-img{
    width: 100%;
}
.hmb-img img{
    width: 100%;
    padding: 0px 50px;
}
.hmb-info {
    max-width: 600px;
    margin: auto;
    margin-bottom: 50px;
}
.hmb-info h1 {
    color: #fff;
}
.hmb-info p {
    color: #fff;
    padding: 10px 0px;
}
.hmb-info-btn {
    display: flex;
    justify-content: center;
}
.hmb-first-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    min-width: 165px;
    height: 50px;
    border-radius: 5px;
    margin: 0px 10px;
    color: #fff;
}
.hmb-first-btn:hover{
    border: 1px solid rgb(145,32,221); 
    background: rgb(145,32,221);
    background: linear-gradient(135deg, rgba(145,32,221,1) 0%, rgba(56,49,226,1) 100%);
    color: #fff;
}
.hmb-second-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 50px;
    border-radius: 5px;
    margin: 0 10px;
    background: rgb(145,32,221);
    background: linear-gradient(135deg, rgba(145,32,221,1) 0%, rgba(56,49,226,1) 100%);
    border: 1px solid rgb(145,32,221); 
    color: #fff;
}
.hmb-second-btn:hover{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}


/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Our Solution business
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.osb-section {
    padding: 100px 0px;
}
.osb-section {
    padding: 100px 0px;
}
.osb-info {
    text-align: center;
    max-width: 650px;
    margin: 0px auto 50px;
}
.osb-info span {
    background-color: rgba(53, 179, 125, 0.5);
    padding: 5px 20px;
    border-radius: 20px;
    color: #35B37D;
}
.osb-info h2 {
    padding: 10px 0px;
    color: #fff;
}
.osb-info p {
    color: #4E6679;
}
.osb-box {
    text-align: center;
}
.obs-box-title {
    color: #fff;
    margin-top: 20px;
}
.obs-box-description {
    color: #4E6679;
    padding: 10px 0px;
}
.obs-box-btn {
    color: #1464D7;
}



/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Analyze your data
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.ayd-section {
    padding: 100px 0px;
}
.ayd-info span {
    color: #35B37D;
}
.ayd-info > p {
    color: #4E6679;
    padding: 10px 0px;
}
.aye-detail-info{
    margin-top: 10px;
}
.aye-detail-info p {
    color: #4E6679;
    padding: 10px 0px;
    font-size: 14px;
}
.aye-detail-info img {
    margin: 10px 0px;
}


/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Seamless integrations 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.sis-section {
    height: 750px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sis-conent {
    max-width: 500px;
    margin: auto;
}

.sis-conent span {
    color: #35B37D;
}
.sis-conent p {
    color: #5A7184;
    padding: 10px 0px;
}
